<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="style.css"></link>
  </head>
  <body>
    <div id="everything">
      <button id="startBtn" class="centered" onclick="init()" v-if="!gameData.init">Start Game</button>
      <div id="game" class="centered" v-if="gameData.init">
        <div id="designCanvas" class="centered">
          <div class="designSlot" 
          v-for="(slot,index) in levels[gameData.level]"
          v-bind:class="[gameData.selected?'blinking':'',gameData.designs[gameData.level].length >= 10?'slotFilled':'']"
          v-bind:style="{
            left:slot.x+'px',
            top:slot.y+'px',
            width:slot.w+'px',
            height:slot.h+'px',
            zIndex:gameData.selected?9999999:''
          }"
          v-on:click="f.placeEle(index)"
          >
          </div>
          <div v-for="(ele, index) in gameData.designs[gameData.level]" 
          v-on:click="f.editEle(ele)"
          style="position:absolute"
          v-bind:style="{
            zIndex:ele.zIndex,
            transform:`
              translate(${ele.translateX}px,${ele.translateY}px) 
              rotate(${ele.angle}deg) 
              scale(${ele.scaleX},${ele.scaleY})
            `,
            resize: gameData.editSelect === ele?'both':'',
          }">
            <div v-if="ele?.type === 'shape'"
            v-bind:class="[ele.name,gameData.editSelect === ele?'selected':'']"
            v-bind:style="{
              backgroundColor:ele.name!=='triangle'?ele.color+f.opa2hex(ele.opacity):'',
              borderBottomColor:ele.name==='triangle'?ele.color+f.opa2hex(ele.opacity):'',
            }"
            v-bind:id="'ele'+index"></div>
            <textarea v-if="ele?.type === 'text'"
            v-bind:class="[gameData.editSelect === ele?'selected':'']"
            v-bind:style="{
              color:ele.color+f.opa2hex(ele.opacity),
              fontFamily:ele.name,
              resize: gameData.editSelect === ele?'both':'',
              width:ele.width+'px',
              height:ele.height+'px',
              fontSize:ele.fontSize+'px',
              textAlign:ele.textAlign
            }"
            v-bind:id="'ele'+index"
            v-on:keydown.stop
            >{{ele.name}}</textarea>
          </div>
        </div>
        <div id="selectors">
          Elements
          <div class="selector" v-bind:class="[tabOpen === 'shapes'?'tabOpen':'']" v-bind:style="{transform:gameData.selected?.type === 'shape'?'translate(-100px,0)':''}">
            <button class="tabBtn" v-on:click="f.openTab('shapes')">Shapes & Lines</button>
            <div class="selectOptions">
              <div
                id="shapeOptions"
                class="optionsCont"
                v-bind:class="[gameData.selected?.type === 'shape'?'animationStop':'']"
                v-bind:style="{
                  animationDuration: options.shapes.length + 's',
                  transform:'translate(-'+gameData.selectIndex*100+'px,0)'
                }"
              >
                <div v-for="(option, index) in options.shapes.concat(options.shapes.slice(0,3))" class="eleOption" v-on:click="f.selectEle(option,parseInt(index)%options.shapes.length)">
                  <div v-bind:class="[option.name, 'centered']"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="selector" v-bind:class="[tabOpen === 'images'?'tabOpen':'']" v-bind:style="{transform:gameData.selected?.type === 'image'?'translate(-100px,0)':''}">
            <button class="tabBtn" v-on:click="f.openTab('images')">Images</button>
            <div class="selectOptions">options here</div>
          </div>
          <div class="selector" v-bind:class="[tabOpen === 'fonts'?'tabOpen':'']" v-bind:style="{transform:gameData.selected?.type === 'text'?'translate(-100px,0)':''}">
            <button class="tabBtn" v-on:click="f.openTab('fonts')">Text</button>
            <div class="selectOptions">
              <div 
                id="textOptions"
                class="optionsCont" 
                v-bind:class="[gameData.selected?.type === 'text'?'animationStop':'']" 
                v-bind:style="{
                  animationDuration: options.fonts.length + 's',
                  transform:'translate(-'+gameData.selectIndex*100+'px,0)'
                }"
              >
                <div v-for="(option, index) in options.fonts.concat(options.fonts.slice(0,3))" class="eleOption" v-bind:style="{fontFamily: option.name}" v-on:click="f.selectEle(option,parseInt(index)%options.fonts.length)">{{option.name}}</div>
              </div>
            </div>
          </div>
        </div>
        <div id="propEdit" v-if="gameData.editSelect" v-on:keydown.stop>
          <div>Position</div>
          x:<input style="width:50px;" v-model="gameData.editSelect.translateX"></input>px<br>
          <input type="range" min="-500" max="500" step="1" v-model="gameData.editSelect.translateX"></input><br>
          y:<input style="width:50px;" v-model="gameData.editSelect.translateY"></input>px<br>
          <input type="range" min="-500" max="500" step="1" v-model="gameData.editSelect.translateY"></input>
          <div>Size</div>
          x:<input v-model="gameData.editSelect.scaleX"></input><br>
          <input type="range" min="0" max="10" step="0.01" v-model="gameData.editSelect.scaleX"></input><br>
          y:<input v-model="gameData.editSelect.scaleY"></input><br>
          <input type="range" min="0" max="10" step="0.01" v-model="gameData.editSelect.scaleY"></input>
          <div>Rotation</div>
          <input style="width:50px;" v-model="gameData.editSelect.angle"></input>deg<br>
          <input type="range" min="-180" max="180" step="1" v-model="gameData.editSelect.angle"></input><br>
          <div>Arrange</div>
          z:<input v-model="gameData.editSelect.zIndex"></input>
          <div>Color</div>
          <input type="color" v-model="gameData.editSelect.color"></input>
          <div>Opacity</div>
          <input v-model="gameData.editSelect.opacity"></input><br>
          <input type="range" min="0" max="1" step="0.01" v-model="gameData.editSelect.opacity"></input>
          <span v-if="gameData.editSelect.type === 'text'">
            <div>Font Size</div>
            <input style="width:50px" v-model="gameData.editSelect.fontSize"></input>px<br>
            <input type="range" min="0" max="100" step="1" v-model="gameData.editSelect.fontSize"></input>
            <div>Alignment</div>
            <input type="radio" v-model="gameData.editSelect.textAlign" value="left">Left</input><br>
            <input type="radio" v-model="gameData.editSelect.textAlign" value="center">Center</input>
            <input type="radio" v-model="gameData.editSelect.textAlign" value="right">Right</input>
          </span>
        </div>
        <div id="label">
          LEVEL {{gameData.level+1}}<br>
          {{f.ms2str(gameData.timer)}}
        </div>
      </div>
    </div>
  </body>
  <script src="vue.js"></script>
  <script src="layout.js"></script>
  <script src="eleSelect.js"></script>
  <script src="base.js"></script>
  <script src="init.js"></script>
</html>
